.detail-group {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
}

.modal-container {
  position: relative;
}

.detailImage {
  margin: 20px;
}

.detailVideo {
  margin: 50px 20px;
}

.titleAndSynopsis {
  margin: 20px;
}

.posterImageDiv {
  border: 0;
  float: left;
  position: relative;
  margin: 30px;
}

.greenchk {
  width: 50px;
  height: 50px;
  /* border: 0; */
  position: absolute;
  top: 20;
  right: 0;
}

.footer {
  display: flex;
  justify-content: center;
}

.taco {
  display: flex;
  flex-direction: row;
}

.modalSize {
  max-width: 80% !important;
}

