.recs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.poster-Image {
  margin: 20px;

}

.posterFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.posterGroup {
  display: flex;
  flex-direction: column;
}