.searchList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.detail-group {
  display: flex;
  flex-direction: row;
  background-color: darkslategrey;
  color: white;
  flex-wrap: wrap;
}

.modal-container {
  position: relative;
}