.detail-group {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
}

.modal-container {
  position: relative;
}

.posterImageDiv {
  border: 0;
  float: left;
  position: relative;
  margin: 30px;
}

.hidden {
  display: none;
}

.displayYes {
  width: 50px;
  height: 50px;
  border: 0;
  position: absolute;
  top: 20;
  right: 0;
}

.footer {
  display: flex;
  justify-content: center;
}

