
.login-form {
  padding: 0 25px;
  justify-content: center;
}

.formLabel {
  padding: 3px;
}

.cheeseIcon {
/* display: flex;
justify-content: center;
width: 100%; */
}

.welcomeTitle {
/* border: 1px solid red; */
padding: 30px;
}